# Arquivos Python
*.pyc
*.pyo
*.pyd

# Diretórios Python
__pycache__/
.venv/

# Configurações do PyCharm
.idea/

# Arquivos de build/dist
dist/
build/
*.egg-info/

# Arquivos de ambiente virtual (se não for .venv)
venv/

# Arquivos de teste
.pytest_cache/
