# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos de Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDE (PyCharm)
.idea/
*.iml
.project
.settings/

# Arquivos de Teste/Build
.pytest_cache/
dist/
build/

# Outros
*.log
*.sqlite3
